<div class="container" id="userWFH">

    <form (ngSubmit)="onSubmit($event)" class="form-inline">
       
        <div class="form-group mb-2 mx-sm-4">
          <!-- <input name="leave"> -->
          <select name="username" class="form-control">
              <option *ngFor ="let user of userList">{{user.username}}</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary float-right">Mark as WFH</button>
    </form>

    <div *ngIf = "userWFH?.length>0">
            <div class="container">
                <table class="table">
                    <thead>
                    <tr>
                        <th>WFH Users</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor= "let obj of userWFH">
                        <td>{{obj.username}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

</div>