<div id="pl">
    <form #leaveForm="ngForm" (ngSubmit)="updateTime(leaveForm)">
        <div class="container">
            <div class="form-group">
                <input 
                    class="form-control" 
                    placeholder="Select Your Planned Leave" 
                    bsDatepicker 
                    [daysDisabled]="[6,0]" 
                    ngModel 
                    id="plannedleaveInput"
                    name="plannedleave" 
                    autocomplete="off"
                    [minDate]="minDate"
                    [maxDate]="maxDate"
                    (bsValueChange)="onValueChange($event)"
                    [isOpen]= "true"
                    [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-default' }"
                >
            </div>
            <!-- <button type="submit" class="btn btn-primary float-right form-control" id="updatePlannedLeave">Update</button> -->
        </div>
    </form>
    <!-- <pre>{{PLDetails | json}}</pre> -->

    <div *ngIf = "PLDetails" id="plLeaveDetails">
        <h5> Your Planned Leaves </h5>
        <ul>
            <li *ngFor= "let obj of PLDetails">{{obj.curdate}} - {{obj.curmonth}} - {{obj.curyear}} </li>
        </ul>
    </div>
</div>


