#pl {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    #plLeaveDetails {
        li {
            font-size: 12px;
            font-weight: bold;
            list-style: none;
        }
        .fas {
            &:hover {
                cursor: pointer;
            }
        }
    }
}