#userReport{
    .curMonth{
        text-align: center;
        font-weight: bold;
        font-size: 12px;
        padding: 10px 0;
        border-top: 1px solid #ccc;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        margin-top: 20px;
    }
    .table {
        td {
            padding: 10px;
            text-align: center;
        }
        th {
            padding: 10px;
            text-align: center;
        }
        .delay {
            color: #fd7e14;
        }
        .PL {
            color: green;
        }
        .WFH {
            color: chocolate;
        }
        .holiday{
            color: blueviolet;
        }
        .weekend {
            color: gray;
        }
        .absent {
            color: red;
        }
    }
}