<nav class="navbar navbar-expand-lg navbar-dark bg-primary" *ngIf="lo.showHeader">
  <a class="navbar-brand" href="javascript:void(0)">
    <img src='assets/logo_1.png' width="30" height="30" alt="Attendance Tracker">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto" *ngIf="adminMenu">
      <li class="nav-item">
        <a class="nav-link" routerLink="admin/report" routerLinkActive="active">Report</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="admin/user" routerLinkActive="active">User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="admin/sme" routerLinkActive="active">SME</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="admin/team" routerLinkActive="active">Team</a>
      </li>
      <!-- <li class="nav-item">
          <a class="nav-link" routerLink="admin/absent" routerLinkActive="active">Absent List</a>
      </li>

      <li class="nav-item">
          <a class="nav-link" routerLink="admin/wfh" routerLinkActive="active">WFH</a>
      </li> -->

      <li class="nav-item">
          <a class="nav-link" routerLink="admin/pl" routerLinkActive="active">Planned Leave</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="admin/hl" routerLinkActive="active">Holiday</a>
      </li>

      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="admin/leave">Leave</a>
      </li> -->
    </ul>
    <ul class="navbar-nav mr-auto" *ngIf="userMenu">
      <li class="nav-item">
        <a class="nav-link" routerLink="user/report">Attendance</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="user/leave">Leave</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="user/holiday">Holiday</a>
      </li>
    </ul>
    <ul class="navbar-nav float-right">
      <li class="nav-item">
        <a href="javascript:void(0)" class="nav-link">
          <i class="fas fa-user"></i> {{username}} </a>
      </li>
      <li class="nav-item">
        <a (click)="logout()" class="nav-link logout">
          <i class=" fas fa-sign-out-alt "></i> Logout</a>
      </li>
    </ul>
  </div>
</nav>